.nav{
border: double;
margin-top: 25px;
border-width: 5px;
border-color: wheat;
background-color: rgb(76, 48, 35);
}

.nav ul{
justify-content: center;
display: flex;
gap: 250px;
color: wheat;
list-style: none;
}


.nav ul a{
    font-size: 30px;
    color: wheat;
}